## 设置Freemarker模版文件后缀名。
tephra.freemarker.suffix = .html

## 设置数据库IP地址+端口号集。
## 使用JSON数据格式，每个设置对象包含key与values属性，其中
## * key 为数据库引用名称，空则为默认数据库；必须有且仅有一个key设置为空。
## * type 数据库方言，可选：mysql、oracle。
## * username 数据库登入用户名。
## * password 数据库登入密码。
## * ips 指定数据库的访问IP地址+":"+端口号，如果设置多个值则第一个为可读写库，其余均为只读库。
## * schema 数据库名。
tephra.dao.database.config = [{key:"",type:"mysql",username:"root",password:"root",ips:["mariadb:3306"],schema:"d_ranch"}]
## 连接池最大激活数量，如果非正整数，则不做限制。
#tephra.dao.database.max-active = 5
## 连接检测间隔时间（单位：毫秒），0表示不检测。
#tephra.dao.database.test-interval = 600000

## 设置服务URL根路径。如：
## * http://localhost
## * https://localhost
## * http://localhost:8080
#tephra.ctrl.service-root =

## 设置Carousel URL地址。
## 为空表示不启用Carousel。
## 如：tephra.carousel.url = http://carousel:port。
#tephra.carousel.url =

## 设置自动发布所有服务为发现服务。
## true - 自动发布；
## false - 不自动发布。
tephra.carousel.service.all = true

## 设置QQ LBS请求密钥。
ranch.gps.qqlbs.key = 6HDBZ-545K3-R4D3I-3H3MN-5O5O7-PSF4Q

## 设置是否自动刷新微信Token信息。
## * true 自动刷新；
## * false 不自动刷新；
## 必须有且仅有一个节点设置为true。
#ranch.weixin.auto = false
