.pagination {
    padding-top: 5px;
    float: right;
}

.pagination span,
.pagination a {
    display: inline-block;
    padding: 5px 5px 2px 5px;
    color: #888;
}

.pagination span {
    color: #ccc;
}

.pagination a:hover {
    color: #ccc;
    background-color: #333;
}