## 设置SMTP配置信息。格式如：
## [
##     {
##         "host": "服务地址",
##         "port": "端口号，数值",
##         "user": "用户名",
##         "password": "密码",
##         "from": "发送Email"
##     }
## ]
## 如果存在多个配置则每次随机选择。
#ranch.push.sender.smtp =

## 设置阿里云短信配置信息。
## 设置app key。
#ranch.push.sender.sms.aliyun.key =
## 设置app secret。
#ranch.push.sender.sms.aliyun.secret =
