@import '../../../color';
.nowrap {
    white-space: nowrap;
    word-wrap: none;
}

.grid .search {
    display: inline-block;
    margin: 0 8px 5px 0;
    .nowrap;
}

.grid .search label {
    margin-right: 5px;
}

.grid table {
    width: 100%;
    background-color: @color-gray;
}

.grid th {
    padding: 0 3px;
    background-color: @color-gray-light;
    .nowrap;
}

.grid td {
    padding: 0 3px;
}

.grid tr:nth-child(odd) td {
    background-color: @color-gray-white;
}

.grid tr:nth-child(even) td {
    background-color: @color-gray-lighter;
}

.grid .image {
    width: 10%;
    padding: 0;
}

.grid .image img {
    display: block;
    width: 100%;
}

.grid .base64 {
    max-width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid .ops a {
    padding: 0 3px;
    text-decoration: none;
    color: @color-main-dark;
    white-space: nowrap;
}

.grid .ops a:hover {
    color: @color-main-light;
}

.grid .empty {
    text-align: center;
    color: @color-gray-light;
    font-size: 16px;
    line-height: 32px;
}

.grid .toolbar {
    float: left;
}

.grid .toolbar button {
    margin: 3px 3px 3px 0px;
}

.grid .pagination {
    float: right;
    padding-top: 3px;
}

.grid .pagination a {
    display: inline-block;
    padding: 0 5px;
    background-color: @color-gray-light;
    color: @color-gray;
    text-decoration: none;
}

.grid .pagination a.active,
.grid .pagination a:hover {
    background-color: @color-gray;
    color: @color-white;
}