.accordion .accordion-title {
    display: block;
    background-color: #ddd;
    color: #333;
    font-size: 16px;
    line-height: 25px;
    text-indent: 10px;
}

.accordion .accordion-title:hover,
.accordion-active .accordion-title {
    background-color: #ccc;
}

.accordion-active .accordion-body {
    display: block;
}

.accordion-inactive .accordion-body {
    display: none;
}