.console {
    min-height: 100vh;
}

.console .ant-layout-header .user-info {
    float: right;
    color: #fff;
}

.console .ant-layout-header .user-info .nick {
    padding: 0 8px;
}

.console .ant-layout-header .dashboard {
    float: right;
    padding: 0 10px;
    font-size: 38px;
}

.console .ant-layout-sider .ant-menu {
    height: 100%;
    border-right: 0;
}

.console .ant-layout-content {
    padding: 16px;
}

.console .ant-layout-content .content {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.console .ant-layout-content .content .read-only-image img {
    max-width: 200px;
    max-height: 200px;
}