.console .ant-layout-content .content .page .grid-search-toolbar {
    padding-bottom: 5px;
}

.console .ant-layout-content .content .page .grid-search-toolbar .ant-btn {
    margin-right: 5px;
}

.console .ant-layout-content .content .page .grid-table .ant-table-body {
    overflow-x: auto;
}

.console .ant-layout-content .content .page .grid-table th {
    white-space: nowrap;
}

.console .ant-layout-content .content .page .grid-img {
    max-width: 64px;
    max-height: 64px;
}

.console .ant-layout-content .content .page .grid-money-positive {
    color: #52c41a;
}

.console .ant-layout-content .content .page .grid-money-negative {
    color: #f5222d;
}

.console .ant-layout-content .content .page .grid-op {
    white-space: nowrap;
}