.console .ant-layout-content .content .page .grid-search-toolbar {
    padding-bottom: 5px;
}

.console .ant-layout-content .content .page .grid-search-toolbar .ant-btn {
    margin-right: 5px;
}

.console .ant-layout-content .content .page .grid-img {
    max-width: 64px;
    max-height: 64px;
}

.console .ant-layout-content .content .page .grid-op {
    white-space: nowrap;
}