.table {
    width: 100%;
    background-color: #bbb;
    border-spacing: 1px;
}

.table th {
    background-color: #ccc;
}

.table .index {
    width: 32px;
    color: #888;
}

.table td {
    padding: 3px 5px;
    background-color: #fff;
    max-width: 100px;
    word-wrap: break-word;
}

.table tr:nth-child(even) td {
    background-color: #eee;
}

.table tr:hover td {
    background-color: #ddd;
}

.table .empty {
    color: #ccc;
    text-align: center;
}

.table .number {
    text-align: right;
}

.table .ops a {
    display: inline-block;
    margin: 0 3px;
    color: #000;
}