.input-new-line {
    padding: 5px 10px;
}

.input-inline {
    padding: 5px 10px 5px 0;
}

.input-inline {
    display: inline-block;
}

.input-new-line label,
.input-inline label {
    display: inline-block;
    padding: 0 5px 0 0;
}

.input-new-line label {
    width: 20%;
}

.input-new-line input {
    width: 50%;
    padding: 3px;
}