.loading-active {
    position: absolute;
    left: 45%;
    top: 0;
    width: 10%;
    height: 32px;
    line-height: 32px;
    z-index: 9;
    text-align: center;
    color: #fff;
}

.loading-inactive {
    display: none;
}