## 设置编辑器预览图渲染页面URL。
## 建议设置为内网地址。
#ranch.editor.image =

## 设置编辑器导出PDF渲染页面URL。
## 建议设置为内网地址。
#ranch.editor.pdf =

## 设置编辑器自动审核通过。
## true-自动通过；false-不自动通过。
#ranch.editor.auto.pass = false

## 设置编辑器自动上架。
## true-自动上架；false-不自动上架。
#ranch.editor.auto.sale = false

## 设置模板类型。
## 多个类型以逗号分割。
#ranch.editor.template-types =

## 设置编辑器截图渲染页面URL。
## 建议设置为内网地址。
#ranch.editor.screenshot.capture =

