## 设置二维码图片默认大小。
#ranch.weixin.qr-code.size = 256

## 设置二维码LOGO文件地址。
#ranch.weixin.qr-code.logo =

## 设置是否自动刷新微信Token信息。
## * true 自动刷新；
## * false 不自动刷新；
## 必须有且仅有一个节点设置为true。
#ranch.weixin.auto = false

## 设置微信Token同步服务地址。
## 如果为空则使用本地Token信息；
## 如果不为空则每5分钟自动同步一次Token信息。
## 仅当ranch.weixin.auto = true时有效。
#ranch.weixin.synch.url =

## 设置微信Token同步服务密钥KEY。
#ranch.weixin.synch.key =